@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --violet: hsl(263, 55%, 52%);
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
};

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/*main container */
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*grid conatiner */
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 250px);
    grid-gap: 20px;
}

/*cards */
.card{
    border-radius: 5px;
    box-shadow: 7px 10px 17px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 10px 17px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 17px -5px rgba(0,0,0,0.75);
}
.card-1{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: var(--violet);
    background-image: url('images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position-x: 25rem;
}

.card-2{
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: var(--dark-grayish-blue);
}

.card-3{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: var(--light-grayish-blue);
}

.card-4{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: var(--dark-blackish-blue);
}

.card-5{
    grid-column: 4/5;
    grid-row: 1/3;
    background-color: var(--white);
}

.inner{
    padding: 20px;
}

/*profile section */
.profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.profile-img{
    border-radius: 50%;
    margin: 0px 5px;
}

.author{
    text-align: left;
    margin-top: 10px;
}

.name{
    font-size: 1rem;
    font-weight: 500;
    color: var(--light-gray);
}

.color-name{
    color: var(--dark-grayish-blue);
}


/*info section */
.title-color{
    color: var(--dark-grayish-blue);
}

h4{
    margin: 10px 0px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

p{
    font-size: 13px;
    color: var(--light-gray);
    opacity: 50%;
}

.review{
    color: var(--dark-grayish-blue);
    opacity: 70%;
}

@media (max-width: 375px){
    .container{
        display: block;
    }

    .grid-container{
        display: flex;
        flex-direction: column;
        margin: 5rem 2rem;
    }

    .card-1{
        background-position-x: 10rem;
    }
}
